<a href="https://colab.research.google.com/github/batista7557/Python-para-Finan-as---Aula-03/blob/main/Python_para_finan%C3%A7as_Risco_de_a%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python para finanças - Risco de ações

Importação das bibliotecas e base de dados

In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [ ]:
dataset = pd.read_csv('acoes.csv')
dataset

            Date    GOL    CVC       WEGE      MGLU       TOTS        BOVA
0     2015-01-02  14.99  15.20   5.923076  0.232812  11.910702   47.259998
1     2015-01-05  14.85  15.00   5.963461  0.237187  11.544731   46.320000
2     2015-01-06  15.21  14.80   5.875000  0.234062  10.822770   46.580002
3     2015-01-07  14.55  14.67   5.807692  0.241875  10.746248   48.150002
4     2015-01-08  14.27  14.15   5.905769  0.240000  10.995774   48.509998
...          ...    ...    ...        ...       ...        ...         ...
1948  2022-11-03   9.93   7.44  40.200001  4.870000  32.330002  113.099998
1949  2022-11-04   9.95   7.23  40.799999  4.830000  32.410000  114.000000
1950  2022-11-07   9.35   6.70  40.900002  4.540000  31.830000  111.220001
1951  2022-11-08   9.37   6.65  40.799999  4.630000  32.099998  112.300003
1952  2022-11-09   9.29   6.60  40.599998  4.470000  33.389999  109.750000

[1953 rows x 7 columns]

In [ ]:
dataset.describe()

,GOL,CVC,WEGE,MGLU,TOTS,BOVA
count,1953.000000,1953.000000,1953.000000,1953.000000,1953.000000,1953.000000
mean,15.447046,28.456905,16.563155,6.823154,17.700717,81.424466
std,9.358180,16.084516,12.250526,7.686339,9.365118,23.963916
min,1.160000,6.090000,4.942307,0.030585,7.156402,36.450001
25%,7.960000,15.420000,6.719230,0.405273,10.044249,59.849998
50%,14.200000,22.200001,9.325000,4.030312,12.226769,82.449997
75%,21.200001,43.299999,29.520000,10.542500,26.650000,102.139999
max,43.790001,64.800003,46.105000,27.450001,40.599998,125.750000

Cálculo dos retornos anuais

2015

In [ ]:
dataset['CVC'][dataset['Date'] == '2015-01-02'], dataset['CVC'][dataset['Date'] == '2015-12-30']
#No início era 15.2 no final era 13.5

(0    15.2
 Name: CVC, dtype: float64, 245    13.5
 Name: CVC, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(13.5 / 15.2) * 100

-11.86057424078469

In [ ]:
dataset['MGLU'][dataset['Date'] == '2015-01-02'], dataset['MGLU'][dataset['Date'] == '2015-12-30']

(0    0.232812
 Name: MGLU, dtype: float64, 245    0.068945
 Name: MGLU, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(0.07 / 0.02) * 100

125.2762968495368

2016

In [ ]:
dataset['CVC'][dataset['Date'] == '2016-01-04'], dataset['CVC'][dataset['Date'] == '2016-12-29']

(246    12.53
 Name: CVC, dtype: float64, 494    23.700001
 Name: CVC, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(23.7 / 12.5) * 100

63.974640383283

In [ ]:
dataset['MGLU'][dataset['Date'] == '2016-01-04'], dataset['MGLU'][dataset['Date'] == '2016-12-29']

In [ ]:
#Taxa logaritimica
np.log(0.4 / 0.07) * 100

174.2969305058623

2017

In [ ]:
dataset['CVC'][dataset['Date'] == '2017-01-04'], dataset['CVC'][dataset['Date'] == '2017-12-29']

(497    24.459999
 Name: CVC, dtype: float64, 748    48.5
 Name: CVC, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(48.5 / 24.5) * 100

68.28906803927562

In [ ]:
dataset['MGLU'][dataset['Date'] == '2017-01-04'], dataset['MGLU'][dataset['Date'] == '2017-12-29']

(497    0.375
 Name: MGLU, dtype: float64, 748    2.506875
 Name: MGLU, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(2.5 / 0.375) * 100

189.71199848858814

2018

In [ ]:
dataset['CVC'][dataset['Date'] == '2018-01-05'], dataset['CVC'][dataset['Date'] == '2018-12-28']

(752    49.740002
 Name: CVC, dtype: float64, 994    61.18
 Name: CVC, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(61.18 / 49.74) * 100

20.701090034749882

In [ ]:
dataset['MGLU'][dataset['Date'] == '2018-01-05'], dataset['MGLU'][dataset['Date'] == '2018-12-28']

(752    2.45625
 Name: MGLU, dtype: float64, 994    5.658437
 Name: MGLU, dtype: float64)

In [ ]:
#Taxa logaritimica
np.log(5.66 / 2.456) * 100

83.48898819301955

Variância

In [ ]:
taxas_cvc = np.array([-11.86, 63.97, 68.28, 20.7]) #Utiliza as taxas de retorno de cada ano

In [ ]:
media_cvc = taxas_cvc.sum() / len(taxas_cvc) #Faz a média
media_cvc

35.2725

In [ ]:
media_cvc = taxas_cvc.mean()
media_cvc

35.2725

In [ ]:
((taxas_cvc - media_cvc) ** 2).sum() / len(taxas_cvc) #Cálculo da variância

1086.7179687500002

In [ ]:
variancia_cvc = taxas_cvc.var()
variancia_cvc

1086.7179687500002

In [ ]:
#Agora da magalu
taxas_mglu = np.array([125.28, 174.30, 189.71, 83.5])

In [ ]:
variancia_mglu = taxas_mglu.var()
variancia_mglu

1753.9016187500004

In [ ]:
#MGLU possui maior risco pq tem uma variância maior

In [ ]:
dataset['CVC'].tail(90).var(), dataset['MGLU'].tail(90).var() #Comparação entre as variancias das duas ações nos ultimos 30 dias

(0.255481452926864, 0.7101888685738039)

Desvio padrão

In [ ]:
#Desvio padrão é a raiz quadrada da variância - Retorna a porcentagem da volatilidade
desvio_padrao_cvc = math.sqrt(variancia_cvc)
desvio_padrao_cvc

32.96540563606036

In [ ]:
taxas_cvc.std()

32.96540563606036

In [ ]:
desvio_padrao_mglu = math.sqrt(variancia_mglu)
desvio_padrao_mglu

41.87960862699173

In [ ]:
taxas_mglu.std()

41.87960862699173